.items__list__header {
    text-align: center;
}

.items__list__keys__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.items__list__keys {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.items__list__items__container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: auto;
}

.product__list__item__info {
    display: flex;
    width: 80%;
}

